.Bjarne> img{
    width:400px;
    margin-left: 25%;
    margin-right: 25%;
}

.Bjarne> h2{
    width: 500px;
}

.Bjarne{
    width: 1000px;
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.Bjarne>h1{
    text-align: center;
}