body{
    background-image: url("../img/fonddecran.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Bjarne> img{
    width:400px;
    margin-left: 25%;
    margin-right: 25%;
}

.Bjarne> h2{
    width: 500px;
    margin-left: 10px;
    font-size: 40px;
}

.titre{
    text-align: center;
}

.Bjarne{
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.Bjarne>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}
.Bjarne>p{
    margin-left: 10px;
    font-size: 30px;
}