.Bjarne> img{
    width:400px;
    margin-left: 8%;
    margin-right: 8%;
}

.Bjarne> h2{
    width: 500px;
    text-align: center;
}

.Bjarne{
    width: 500px;
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
}

.Bjarne>p{
    text-align: center;
}

.Bjarne>a{
    text-decoration: none;
}

.blog{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

