body{
    background-image: url("../img/foret.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titre{
    text-align: center;
}

.Bjarne{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Bjarne> img{
    display: flex;
    text-align: center;
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.Bjarne> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.Bjarne>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.Bjarne>p{
    margin-left: 10px;
    font-size: 2rem;
}


.stage{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.stage> img{
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.stage> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.stage>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.stage>p{
    margin-left: 10px;
    font-size: 2rem;
}


.python{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.python> img{
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.python> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.python>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.python>p{
    margin-left: 10px;
    font-size: 2rem;
}


.http{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.http> img{
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.http> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.http>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.http>p{
    margin-left: 10px;
    font-size: 2rem;
}


.ombre{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ombre> img{
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.ombre> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.ombre>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.ombre>p{
    margin-left: 10px;
    font-size: 2rem;
}


.Esterel{
    width: 60rem;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Esterel> img{
    display: flex;
    text-align: center;
    width:30rem;
    margin-left: 25%;
    margin-right: 25%;
}

.Esterel> h2{
    margin-left: 10px;
    font-size: 2rem;
}

.Esterel>h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
.Esterel>p{
    margin-left: 10px;
    font-size: 2rem;
}

.logo {
    width: 20rem;
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.logo img{
    margin-left: 25%;
    margin-right: 25%;
}


@media (min-width: 200px) and (max-width: 1000px){

    .Bjarne{
        width: 40rem;
    }

    .Bjarne h1{
        font-size: 2rem;
    }

    .Bjarne h2{
        font-size: 2rem;
    }

    .Bjarne p{
        font-size: 2rem;
    }

    .Bjarne img{
        width: 20rem;
    }


    .stage{
        width: 40rem;
    }

    .stage h1{
        font-size: 2rem;
    }

    .stage h2{
        font-size: 2rem;
    }

    .stage p{
        font-size: 2rem;
    }

    .stage img{
        width: 20rem;
    }


    .http{
        width: 40rem;
    }

    .http h1{
        font-size: 2rem;
    }

    .http h2{
        font-size: 2rem;
    }

    .http p{
        font-size: 2rem;
    }

    .http img{
        width: 20rem;
    }


    .ombre{
        width: 40rem;
    }

    .ombre h1{
        font-size: 2rem;
    }

    .ombre h2{
        font-size: 2rem;
    }

    .ombre p{
        font-size: 2rem;
    }

    .ombre img{
        width: 20rem;
    }


    .python{
        width: 40rem;
    }

    .python h1{
        font-size: 2rem;
    }

    .python h2{
        font-size: 2rem;
    }

    .python p{
        font-size: 2rem;
    }

    .python img{
        width: 20rem;
    }


    .Esterel{
        width: 40rem;
    }

    .Esterel h1{
        font-size: 2rem;
    }

    .Esterel h2{
        font-size: 2rem;
    }

    .Esterel p{
        font-size: 2rem;
    }

    .Esterel img{
        width: 20rem;
    }

    .logo {
        width: 10rem;
        display: flex;
        flex-direction: column;
    }

    .logo img{
        margin-left: auto;
        margin-right: auto;
    }
}