.lycée> img{
    width:500px;
}

.lycée> h2{
    width: 500px;
    text-align: center;
}

.lycée{
    background-color: rgb(0, 179, 255);
    width: 500px;
    border-radius: 10px;
}

.ynov> img{
    width:400px;
    margin-left: 8%;
    margin-right: 8%;
}

.ynov> h2{
    width: 500px;
    text-align: center;
}

.ynov{
    background-color:rgb(0, 179, 255);
    width: 500px;
    border-radius: 10px;
}

.fnac> img{
    width:400px;
    margin-left: 8%;
    margin-right: 8%;
}

.fnac> h2{
    width: 500px;
    text-align: center;
}

.fnac{
    width: 500px;
    background-color: rgb(0, 179, 255);
    border-radius: 10px;
}

.projet{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
