body{
    background-image: url("../img/fonddecran.png");
    background-repeat: no-repeat;
    background-size: 100rem 25rem;
}

.biographie{
    margin-top: 10rem;
}

.none{
    display: none;
}

.titre{
    text-align: center;
}

.conteneurmenu{
    border-radius:18px;
    margin: 0rem 0rem 9rem 0rem;
    height:3.2rem;
    width:40rem;
    
    
}

.sous_menu_deroulant>a{
    text-decoration: none;
    color: black;
}

.image>img{
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    
}

.menu{
    position: fixed;
}

.button{
    width: 10px;
}
