body{
    background-image: url("../img/fonddecran.png");
    background-repeat: no-repeat;
    background-size: 100rem 30rem;
    /* background-position: cover; */
    background-size: cover;
}

h1{
    font-size: 2rem;
    @media (max-width: 200px) {
        font-size: 0,5rem;
    }
}

h2{
    text-align: center;
    font-size: 2rem;
    @media (max-width: 200px) {
        font-size: 0,5rem;
    }
}

h3{
    font-size: 2rem;
    @media (max-width: 200px) {
        font-size: 0,5rem;
    }
}

p{
    font-size: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    @media (max-width: 200px) {
        font-size: 0,5rem;
    }
}
img{
    width: 30rem;
}

/* Intro */

.titre{
    color: white;
}

.titre>h1{
    text-align: center;
    color: white;
}

.titre>h2{
    text-align: center;
    color: white;
}

.titre> img{
    margin-left: 40rem;
    width: 15rem;
}

/* Ma biographie */

.biographie{
    margin-top: 10rem;
    text-align: center;
}

.biographie>h2{
    text-align: center;
}

.biographie>h3{
    text-align: center;
}

/* Mon parcour professionel */

.projet1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    @media (max-width: 200px) {
        display: flex;
        align-items: baseline;
    }
}

.projet2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    @media (max-width: 200px) {
        display: flex;
        align-items: baseline;
    }
}

.emperie{
    text-align: center;
}

.ynov{
    text-align: center;
}

.fnac{
    text-align: center;
}

/* Blog */

.blog>h2{
    text-align: center;
}

.blog1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    @media (max-width: 200px) {
        display: flex;
        align-items: baseline;
    }
}

.blog2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    @media (max-width: 200px) {
        display: flex;
        align-items: baseline;
    }
}

.bjarne{
    text-align: center;
}

.bjarne>a{
    text-decoration: none;
    color: black;
}

.stage{
    text-align: center;
}

.stage>a{
    text-decoration: none;
    color: black;
}

.ombre{
    text-align: center;
}

.ombre>a{
    text-decoration: none;
    color: black;
}

.http{
    text-align: center;
}

.http>a{
    text-decoration: none;
    color: black;
}

.python{
    text-align: center;
}

.python>a{
    text-decoration: none;
    color: black;
}

/* autre */

.none{
    display: none;
}

.conteneurmenu{
    border-radius:18px;
    margin: 0rem 0rem 9rem 0rem;
    height:3.2rem;
    width:40rem;
}

.sous_menu_deroulant>a{
    text-decoration: none;
    color: black;
}

.menu{
    position: fixed;
}

.button{
    width: 10px;
}
