body{
    background-image: url("../img/fonddecran.png");
    background-repeat: no-repeat;
    background-size: 100rem 30rem;
}

h1{
    font-size: 2rem;
}

h2{
    text-align: center;
    font-size: 2rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
img{
    width: 30rem;
}

//Intro

.titre{
    color: white;
}

.titre>h1{
    text-align: center;
    color: white;
}

.titre>h2{
    text-align: center;
    color: white;
}

.titre> img{
    margin-left: 40rem;
    width: 15rem;
}

//Ma biographie

.biographie{
    margin-top: 10rem;
    text-align: center;
}

.biographie>h2{
    text-align: center;
}

.biographie>h3{
    text-align: center;
}

//Mon parcour professionel

.projet1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.projet2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.emperie{
    text-align: center;
}

.emperie> img{
    
    margin-left: 35%;
    margin-right: 25%;
}

.ynov{
    text-align: center;
}

.ynov> img{
    
    margin-left: 25%;
    margin-right: 25%;
}

.fnac{
    text-align: center;
}

.fnac> img{
    
    margin-left: 25%;
    margin-right: 25%;
}
//Blog
.blog>h2{
    text-align: center;
}

.blog1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.blog2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.bjarne{
    text-align: center;
}

.bjarne>img{
    margin-left: 25%;
    margin-right: 25%;
    
}

.bjarne>a{
    text-decoration: none;
    color: black;
}

.stage{
    text-align: center;
}

.stage>img{
    margin-left: 25%;
    margin-right: 25%;
    
}

.stage>a{
    text-decoration: none;
    color: black;
}

.ombre{
    text-align: center;
}

.ombre>img{
    margin-left: 25%;
    margin-right: 25%;
    
}

.ombre>a{
    text-decoration: none;
    color: black;
}

.http{
    text-align: center;
}

.http>img{
    margin-left: 25%;
    margin-right: 25%;
    
}

.http>a{
    text-decoration: none;
    color: black;
}

.python{
    text-align: center;
}

.python>img{
    margin-left: 25%;
    margin-right: 25%;
    
}

.python>a{
    text-decoration: none;
    color: black;
}

//autre

.none{
    display: none;
}

.conteneurmenu{
    border-radius:18px;
    margin: 0rem 0rem 9rem 0rem;
    height:3.2rem;
    width:40rem;
}

.sous_menu_deroulant>a{
    text-decoration: none;
    color: black;
}

.menu{
    position: fixed;
}

.button{
    width: 10px;
}
