/* body{
    
} */

h1{
    font-size: 2rem;
}

h2{
    text-align: center;
    font-size: 1.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.gras{
    font-weight: bold;
    font-size: 2rem;
}

.gras2{
    font-weight: bold;
    font-size: 2.5rem;
}

/* Intro */

.titre{
    display: flex;
    background-image: url("../img/Route.png");
    background-repeat: no-repeat;
    background-size: 100rem 30rem;
    /* background-position: cover; */
    background-size: cover;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre>h2{
    text-align: center;
    color: white;
}

.titre img{
    display: flex;
    width: 15rem;
    margin-top: 10rem;
}

/* Ma biographie */

.biographie{
    margin-top: 10rem;
    text-align: center;
}

.biographie>h2{
    text-align: center;
}

.biographie>h3{
    text-align: center;
}

.bio{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

/* Mon parcour professionel */

.projet1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-top: 5rem;
}

.projet2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-top: 5rem;
}

.emperie{
    text-align: center;
}

.emperie img{
    width: 30rem;
}

.ynov{
    text-align: center;
}

.ynov img{
    width: 15rem;
}

.fnac{
    text-align: center;
    margin-left: 9rem;
}

.fnac img{
    width: 11.5rem;
}

.esterel{
    text-align: center;
}

.esterel img{
    width: 30rem;
}

.futur{
    margin-top: 5rem;
}

/* Blog */

.blog>h2{
    text-align: center;
}

.blog1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
.blog2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}
.blog3{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.bjarne{
    text-align: center;
    margin-top: 5rem;
}

.bjarne>a{
    text-decoration: none;
    color: black;
}

.bjarne img{
    width: 31rem;
}

.stage{
    text-align: center;
    margin-top: 5rem;
}

.stage>a{
    text-decoration: none;
    color: black;
}

.stage img{
    width: 18rem;
}

.ombre{
    text-align: center;
    margin-top: 5rem;
}

.ombre>a{
    text-decoration: none;
    color: black;
}

.ombre img{
    width: 24rem;
}

.http{
    text-align: center;
    margin-top: 5rem;
}

.http>a{
    text-decoration: none;
    color: black;
}

.http img{
    width: 20rem;
}

.python{
    margin-top: 5rem;
    text-align: center;
}

.python>a{
    text-decoration: none;
    color: black;
}

.python img{
    width: 20rem;
}

.stage2{
    margin-top: 5rem;
    text-align: center;
}

.stage2>a{
    text-decoration: none;
    color: black;
}

.stage2 img{
    width: 30rem;
}

/* contact */

.contact{
    background-image: url("../img/riviere.jpg");
    background-repeat: no-repeat;
    /* background-size: 100rem 30rem; */
    background-size: cover;
    margin-top: 10rem;
    height: 40rem;
}

.contact h2{
    margin-top: 5rem;
}

.contact img{
    width: 3rem;
    margin-top: 2rem;
}

.coordonée{
    text-align: center;
}

/* autre */

.none{
    display: none;
}

.conteneurmenu{
    border-radius:18px;
    margin: 0rem 0rem 9rem 0rem;
    height:3.2rem;
    width:40rem;
}

.sous_menu_deroulant>a{
    text-decoration: none;
    color: black;
}

.menu{
    position: fixed;
}

.button{
    width: 10px;
}

@media (min-width: 200px) and (max-width: 1000px){

    .gras{
        font-size: 1rem;
    }

    .gras2{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .titre{
        color:black;
    }
    .titre img{
        width: 7.5rem;
    }
    h1{
        font-size: 1rem;
    }

    h2{
        font-size: 0.5rem;
    }

    h3{
        font-size: 1rem;
    }

    p{
        font-size: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .bio{
        display: flex;
        flex-direction: column;
    }

    /* Mon parcour professionel */

    .projet1{
        display: flex;
        flex-direction: column;
    }

    .projet2{
        display: flex;
        flex-direction: column;
    }

    .emperie img{
        width: 15rem;
    }

    .ynov img{
        width: 7.5rem;
    }

    .esterel img{
        width: 15rem;
    }

    .fnac{
        margin-left: 0rem;
    }

    .fnac img{
        width: 5.75rem;
    }
    
    /* Mes blog */
    .blog{
        display: flex;
        flex-direction: column;
    }

    .blog1{
        display: flex;
        flex-direction: column;
    }

    .blog2{
        display: flex;
        flex-direction: column;
    }

    .blog3{
        display: flex;
        flex-direction: column;
    }

    .bjarne img{
        width: 15rem;
    }

    .stage img{
        width: 5.75rem;
    }

    .http img{
        width: 15rem;
    }

    .python img{
        width: 5.75rem;
    }

    .ombre img{
        width: 15rem;
    }

    .stage2 img{
        width: 15rem;
    }
    /* test */
    /* contact */

    .contact{
        height: 14rem;
    }

    .contact img{
        width: 1.5rem;
    }

}

/* test */